.atividade-temas {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    min-height: 500px;
}

.painel-conteudo {
    background: #788a67;
    border-radius: 35px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-left: 120px;
}

.texto-centro {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    max-width: 850px;
}

.texto-centro p {
    color: #fff;
    font-weight: normal;
    text-align: left;
    
}

.tema-btn {
    position: absolute;
    width: 180px;
    height: 75px;
    background: #bc4b2d;
    color: #fff;
    border: none;
    /* font-size: 1.1rem; */
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    z-index: 2;
}

/* Botão selecionado */
.tema-btn.ativo {
    background: #e5ddd3;
    color: #bc4b2d;
}

.tema-btn.ativo::after {
    border-top-color: #9b7551;
}

.tema-btn:hover {
    transform: scale(1.05);
}

/* Aba lateral */
.tema-btn::after {
    content: "";
    position: absolute;
    bottom: -32px;
    width: 0;
    height: 0;
}

.esquerda::after {
    left: 0;
    border-top: 32px solid #9b7551;
    border-right: 90px solid transparent;
}

.direita::after {
    right: 0;
    border-top: 32px solid #9b7551;
    border-left: 90px solid transparent;
}

/* Posições */
.tema1 {
    top: 60px;
    left: -50px;
}

.tema2 {
    top: 198px;
    left: -50px;
}

.tema3 {
    top: 330px;
    left: -50px;
}

.tema4 {
    top: 120px;
    right: -50px;
}

.tema5 {
    top: 260px;
    right: -50px;
}

/* Mobile */
@media (max-width: 991px) {

    .atividade-temas {
        padding-top: 20px;
    }

    .painel-conteudo {
        min-height: 350px;
    }

    .texto-centro {
        font-size: 1.3rem;
    }

    .tema-btn {
        position: static;
        display: block;
        margin: 15px auto;
    }

    .tema-btn::after {
        display: none;
    }
}

@media (max-width: 768px) {
    .painel-conteudo{
        padding-left: 30px;
    }
}